Source: tagfs
Section: unknown
Priority: extra
Maintainer: Andrey Kutejko <andy128k@gmail.com>
Build-Depends:
Standards-Version: 3.7.3
Homepage: <insert the upstream URL, if relevant>

Package: tagfs
Architecture: any
Depends: libglib2.0-0 (>= 2.12), libgtk2.0-0 (>= 2.8), libnautilus-extension1 (>= 2.18)
Description: Filesystem orgainized by tags (metainfo)
 Filesystem (FUSE module) orgainized by tags (metainfo).
 .
 Tools:
 .
 * Nautilus extension to edit metainfo.
 * tageditor -- GUI tool to edit metainfo.
 .
 Supported files: PDF, DjVu.

